{
  "log": { "level": "info", "timestamp": true },
  "dns": {
    "servers": [
      { "tag": "remote", "address": "8.8.8.8", "detour": "hy2-out" },
      { "tag": "local", "address": "223.5.5.5", "detour": "direct" }
    ],
    "rules": [
      { "rule_set": ["geosite-cn"], "server": "local" }
    ],
    "final": "remote",
    "strategy": "ipv4_only"
  },
  "inbounds": [
    {
      "type": "tproxy",
      "tag": "tproxy-tcp",
      "listen": "0.0.0.0",
      "listen_port": 7893,
      "network": "tcp"
    },
    {
      "type": "tproxy",
      "tag": "tproxy-udp",
      "listen": "0.0.0.0",
      "listen_port": 7893,
      "network": "udp"
    }
  ],
  "outbounds": [
    {
      "type": "hysteria2",
      "tag": "hy2-out",
      "server": "8.209.203.17",
      "server_port": 443,
      "password": "__HY2_PASSWORD__",
      "tls": { "enabled": true, "insecure": true }
    },
    { "type": "direct", "tag": "direct" }
  ],
  "route": {
    "rules": [
      { "action": "sniff" },
      { "protocol": "dns", "action": "hijack-dns" },
      { "ip_is_private": true, "outbound": "direct" },
      { "rule_set": ["geosite-cn"], "outbound": "direct" },
      { "rule_set": ["geoip-cn"], "outbound": "direct" }
    ],
    "rule_set": [
      {
        "type": "remote", "tag": "geosite-cn", "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-cn.srs",
        "download_detour": "direct", "update_interval": "24h"
      },
      {
        "type": "remote", "tag": "geoip-cn", "format": "binary",
        "url": "https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-cn.srs",
        "download_detour": "direct", "update_interval": "24h"
      }
    ],
    "final": "hy2-out",
    "auto_detect_interface": true
  },
  "experimental": {
    "cache_file": { "enabled": true }
  }
}
